/* Rectangle 7: */
background: #D6F6FA;
border: 1px solid #979797;
/* Copyright © 2015 - B Copy: */
font-family: HelveticaNeue;
font-size: 20px;
color: #7A7D8C;
line-height: 23px;

/* Rectangle 6: */
background: #2D8792;
border: 1px solid #979797;

/* Rectangle 6: */
background: #2D8792;
border: 1px solid #979797;

/* Rectangle 8: */
background: #3C666C;
border: 1px solid #979797;
border: 1px solid #050404;
box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50), inset 0px 1px 3px 0px rgba(0,0,0,0.50


//text at top right corner
/* Copyright © 2015 - B Copy: */
font-family: HelveticaNeue;
font-size: 20px;
color: #7A7D8C;
line-height: 23px;

//text at bottom right corner

//cast your vote
/* cast your vote: */
border: 0px solid #979797;
font-family: AvenirNext-Medium;
font-size: 72px;
color: #F9E9FF;
line-height: 98px;

/* on a topic: */
border: 1px solid #979797;
font-family: AvenirNext-Regular;
font-size: 36px;
color: #FFFFFF;
line-height: 49px;

/* Type something: */ 3x
font-family: AvenirNext-Regular;
font-size: 36px;
color: #F6E2FD;
line-height: 49px;