.header {
  color: black;
  text-align: center;
  width: 100%;
  text-decoration: none;

}

.top-bar {
  font-size: 60px;
  background: #2D8792;
  /*border: 1px solid #979797;*/
  margin-bottom: 10px;
  /*padding: 10%;*/
  border-radius: 20px;
}
/*img {
  width: 50%;
  height: 50%;
}*/
body {
  font-family: "AvenirNext-Regular";
  background-color: #D6F6FA;
  text-align: center;
}
input[type='text'] {
  font-family: "AvenirNext-Regular";
  background-color: #CCC;
  font-color: white;
  width: 55%;
  margin: 0 auto;
  text-align: center;
  font-weight: 90;
  font-size: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
}
.startButton{
  width: 250px;
  height: 100px;
  line-height: 100px;
  margin: 0 auto;
  background-color: #1C64CC;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  box-shadow: 5px 5px 2px #888888;
  border-radius: 15px;
}
.startButton:hover {
  background-color: #75A8F3;
}
.cta {
  width: 250px;
  height: 100px;
  line-height: 100px;
  margin: 0 auto;
  background-color: #1C64CC;
  text-align: center;
  font-size: 50px;
  cursor: pointer;
  box-shadow: 5px 5px 2px #888888;
  border-radius: 15px;
}
.cta:hover {
  background-color: #75A8F3;
}
li {
/*  list-style: none;
  width: 500px;
  margin: 20px auto;
  text-align: center;
  background-color: white;
  font-size: 25px;
  padding: 10px;
  border-radius: 30px;*/
  font-family: AvenirNext-Regular;
  font-size: 36px;
  color: #F6E2FD;
  line-height: 49px;
}
ul {
  border-radius: 20px;
  padding: 0;
  background-color: #3C666C;
/*  border: 1px solid #979797;
  border: 1px solid #050404;*/
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50), inset 0px 1px 3px 0px rgba(0,0,0,0.50;

}
.pageTitle {
  padding: 20px;
  color: #3D6399;
}
.about {
  float: right;
}
input[type='range'] {
  width: 250px;
  -webkit-appearance: none;
  padding-left: 2px;
  padding-right: 2px;
  -webkit-border-radius: 5px;
  background-image: -webkit-linear-gradient(left, lightcoral, lightgreen);
  border-radius: 0;
  font-family: AvenirNext-Regular;
}
.btn-primary {
  display: hidden;
}
.good {
  color: green;
  background-color: #333333;
  /*lightgreen;*/
  
  background-image: url("assets/good.png");
  background-repeat: no-repeat;
}
.bad {
  background-color: #333333
  /*pink;*/
  
  background-image: url("assets/bad.png");
  background-repeat: no-repeat;
}
.bad > .animationDiv {
  color: red;
  -webkit-animation: pulse2 3s linear infinite;
  -moz-animation: pulse2 3s linear infinite;
  -ms-animation: pulse2 3s linear infinite;
  animation: pulse2 3s linear infinite;
}
.meh {
  background-color: #333333
  /*#FFFF9C;*/
  
  background-image: url("assets/meh.png");
  background-repeat: no-repeat;
}
@keyframes "pulse2" {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse2 {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes "pulse2" {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-ms-keyframes "pulse2" {
  0% {
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -ms-transform: scale(1);
    transform: scale(1);
  }