.header {
  color: black;
  text-align: center;
  width: 100%;
  text-decoration: none;

}

.span2 {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  justify-content: space-between;
}

.albrey {
    height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;
}

img {
  border: 0 none;
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}


cluster-plot {
  position: float;
  width: 100%;
  margin-right: 0px;
}


.top-bar {
  font-size: 60px;
  background: #2D8792;
  margin-bottom: 10px;
  border-radius: 20px;
}

body {
  font-family: "AvenirNext-Regular";
  background-color: #D6F6FA;
  text-align: center;
}
input[type='text'] {
  font-family: "AvenirNext-Regular";
  background-color: #CCC;
  font-color: white;
  width: 55%;
  margin: 0 auto;
  text-align: center;
  font-weight: 90;
  font-size: 50px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
}
.startButton{
  width: 250px;
  height: 100px;
  line-height: 100px;
  margin: 0 auto;
  background-color: #1C64CC;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  box-shadow: 5px 5px 2px #888888;
  border-radius: 15px;
}
.startButton:hover {
  background-color: #75A8F3;
}
.cta {
  width: 250px;
  height: 100px;
  line-height: 100px;
  margin: 0 auto;
  background-color: #1C64CC;
  text-align: center;
  font-size: 50px;
  cursor: pointer;
  box-shadow: 5px 5px 2px #888888;
  border-radius: 15px;
}
.cta:hover {
  background-color: #75A8F3;
}
li { 
  font-family: AvenirNext-Regular;
  font-size: 36px;
  color: #F6E2FD;
  line-height: 49px;
}
ul {
  border-radius: 20px;
  padding: 0;
  background-color: #3C666C;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50), inset 0px 1px 3px 0px rgba(0,0,0,0.50);

}
.pageTitle {
  padding: 20px;
  color: #3D6399;
}
.about {
  float: right;
}

.btn-primary {
  display: hidden;
}
.good {
  color: green;
  background-color: #333333;
  /*lightgreen;*/
  
  background-image: url("assets/good.png");
  background-repeat: no-repeat;
}
.bad {
  background-color: #333333
  /*pink;*/
  
  background-image: url("assets/bad.png");
  background-repeat: no-repeat;
}
.bad > .animationDiv {
  color: red;
  -webkit-animation: pulse2 3s linear infinite;
  -moz-animation: pulse2 3s linear infinite;
  -ms-animation: pulse2 3s linear infinite;
  animation: pulse2 3s linear infinite;
}
.meh {
  background-color: #333333
  /*#FFFF9C;*/
  
  background-image: url("assets/meh.png");
  background-repeat: no-repeat;
}
@keyframes "pulse2" {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse2 {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes "pulse2" {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-ms-keyframes "pulse2" {
  0% {
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -ms-transform: scale(1);
    transform: scale(1);
  }