<!-- Voting page -->
<div>
  <div class="pageTitle">
    <h2>HOW DID THAT MAKE YOU FEEL?</h2>

    <!-- jQuery rumble animations -->
    <script>
      $('#a1').jrumble({
        x: 10,
        y: 10,
        rotation: .1
      });

      $('#a2').jrumble({
        x: 3,
        y: 3,
        rotation: 1
      });

      $('#a3').jrumble({
        speed: 50
      });

      $('#a4').jrumble({
        speed: 75
      });

      $('#a5').jrumble({
        x: 30,
        y: 30,
        speed: 200
      });

      $('.albrey').hover(function(){
        $(this).trigger('startRumble');
      }, function(){
        $(this).trigger('stopRumble');
      });
    </script>


    <div class="span2">
      <img src="assets/brey_1.png" id="a1" class="albrey">

      <img src="assets/brey_2.png" id="a2" class="albrey">

      <img src="assets/brey_3.png" id="a3" class="albrey">

      <img src="assets/brey_4.png" id="a4" class="albrey">
      <img src="assets/brey_5.png" id="a5" class="albrey">
    </div> 
  </div> 



  <!-- Controller for voting -->
  <center ng-controller="VotesController as votesList">
    <form>
      <ul>
        <!-- Displays the topic to vote on -->
        <li ng-repeat="item in votesList.topics">
          {{ item.text }}
          <div></div>
          <!-- The slider for posting your vote, from 1 to 100 -->
          <input style="width:60%" ng-model="item.vote" type="range" min="1" max="5" step="1" name="dislike/like" />
        </li>
      </ul>
      <div style="width:520px; margin: 0 auto;">
        <!-- This button will post your votes to the database -->
        <div class="cta" ng-click="votesList.vote()">VOTE!</div>
        <!-- This will navigate to the results view, showing the results of all the voting -->
        <!--<div class="cta" style="float:right;" ng-click="votesList.viewResults()">RESULTS</div> -->
      </div>


    </form>
  </center>
  </div